@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Montserrat", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font-family: "Open Sans", sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    background: #f6feff;
}

#container {
    max-width: 1550px;
    margin: 0 auto;
}
#btn{
    font-size: 1.125rem;
    font-weight: 500;
    padding: 10px;
    background: #66BB6A;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#btn:hover{
    background: #5ba65f;
}

/* === NavBar === */
nav{
    height: 80px;
    width: 100%;
    padding: 0 2.5rem;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav #logo{
    cursor: pointer;
}
nav #logo img{
    width: 170px;
}
nav i{
    display: none;
    cursor: pointer;
}
nav #nav-links{
    display: flex;
    gap: 2.5rem;
    overflow-x: hidden;
}
nav #nav-links li a{
    display: block;
    font-size: 1.125rem;
    color: #000;
    font-weight: 600;
    transition: all 0.3s ease;
}
nav #nav-links li a:hover{
    color: #66BB6A;
}
nav #nav-links i{
    display: none;
}
@media (max-width: 830px) {
    nav{
        padding: 0 1.25rem;
    }
    nav #logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    nav #logo img{
        width: 170px;
    }
    nav i{
        display: block;
        font-size: 2.5rem;
        font-weight: 500;
    }
    nav #nav-links{
        display: block;
        position: absolute;
        top: 0;
        right: -100%;
        background: #000;
        width: 50%;
        height: 100vh;
        padding: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    nav #nav-links li a{
        color: #fff;
        font-size: 1.563rem;
        font-weight: 600;
    }
    nav #nav-links i{
        display: block;
        color: #fff;
        font-size: 2.813rem;
        font-weight: 500;
        position: absolute;
        top: 3%;
        right: 7%;
        cursor: pointer;
    }
}
@media (max-width: 425px) {
    nav{
        padding: 0 0.625rem;
    }
    nav i{
        font-size: 1.875;
    }
    nav #logo img{
        width: 130px;
    }
    nav #nav-links li a{
        color: #fff;
        font-size: 1.125rem;
        font-weight: 600;
    }
    nav #nav-links i{
        font-size: 1.875;
        position: absolute;
        top: 2%;
    }
}

/* === Hero Section === */
.hero-section{
    height: calc(100vh - 80px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0 2.5rem;
}
.hero-section h1{
    width: 49vw;
    font-size: 3.125rem;
    margin-bottom: 10px;
}
.hero-section p{
    width: 45vw;
    font-size: 1.125rem;
    margin-bottom: 15px;
}
.hero-img{
    width: 700px;
    height: 70vh;
}
.hero-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
@media (max-width: 1000px) {
    .hero-section h1{
        width: 44vw;
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    .hero-section p{
        width: 44vw;
        font-size: 1.125rem;
        margin-bottom: 15px;
    }
    .hero-img{
        width: 800px;
        height: 70vh;
    }
}
@media (max-width: 830px) {
    .hero-section{
        flex-direction: column;
        padding: 0 1.25rem;
        gap: 20px;
    }
    .hero-section .text-content{
        text-align: center;
        margin-top: 10px;
    }
    .hero-section h1{
        width: 100%;
        font-size: 2.7rem;
        margin-bottom: 10px;
    }
    .hero-section p{
        width: 100%;
        font-size: 1.125rem;
        margin-bottom: 15px;
    }
    .hero-img{
        width: 90vw;
        /* height: 70vh; */
    }
}
@media (max-width: 425px) {
    .hero-section{
        padding: 0 0.625rem;
    }
    .hero-section h1{
        width: 100%;
        font-size: 2.188rem;
        margin-bottom: 10px;
    }
    .hero-section p{
        width: 100%;
        font-size: 1.063rem;
        margin-bottom: 15px;
    }
}